.map-wrapper {
    display: flex;
    justify-content: center;
    height: 800px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 15%;
    margin-left: 15%;
}

#map {
    position: absolute;
    width: 65%;
    height: 800px;
}