.page-description {
    text-align: center;
}

.page-description p {
    font-size: 1.2em;
}

.form-container {
  padding: 20px;
}

.courseInputs {
  margin-right: 10px;
}

/* input[type=submit] {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
input[type=submit]:hover {
  color: #646cff;
  
} */